// colors
$grey-dark:                 #363636;
$grey:                      #666666;
$grey-light:                #888888;
$grey-lighter:              #ecedee;
$grey-lightest:             #f1f1f1;

$brand-primary:             #00bdfa;
$brand-secondary:           #d60042;
$brand-tertiary:            #fecc00;

$brand-success:             #a7d206;
$brand-info:                $brand-primary;
$brand-warning:             $brand-tertiary;
$brand-danger:              $brand-secondary;